<h1>New Game</h1>

<ul class="d-flex list-unstyled">
  <% @letters.each do |letter| %>
    <div class="col-1 m-2 d-flex"><li class="bg-primary p-4 fs-2 text-white justify-content-center"><%= letter.capitalize %></li></div>
  <% end %>
</ul>

<p class="fs-4">What is the longest word?</p>

<form action="/score" method="post" data-turbo="false">
  <input type="text" name="word">
  <input type="submit" value="Play">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :letters, @letters %>
  <%= hidden_field_tag :time, @time %>
</form>
